.main_div{
    width: 100%;
    height: 100vh;
    background-color: #2D2D39;
    
}

.main_div .center_div{
    width: 1325px;
    height: 100vh;
    margin: auto;
    padding: 25px 0 0 20px;
    /* background-color: #50546F; */
}